body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.panel-buttons 
{
	margin-right: -16px;
	margin-top: -11px;
}

.email
{
    width: 30%;
    float: left;
}

.password
{
    width: 30%;
    float: left;
    margin-left: 10px;
}

.signup-button
{
    background-color: #a7166a;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 1.42857;
    text-align: center
    vertical-align:middle;
    white-space: nowrap;
    padding: 6px 12px;
    margin-left: 10px;
}

.signup-button:focus, .signup-button:hover
{
    background-color: #a7166a;
    color: #fff;
}

.name
{
    padding: 10px 15px 0px 15px; ;
}

.label
{
    padding: 10px;
}

.value
{ 
    padding: 10px;
}

tbody tr .prop
{
    float: left;
    width: 100%;
}

.main-fields
{
    float: left;
}

.three h2
{
    text-align: center;
    color: #a7166a;
}

.three p
{
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.gettingStarted
{
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 4px 4px 0px 0px;
}

#formContainer
{
    background-color: #939598;
}

.one
{
    padding-bottom: 20px;
    padding-top: 20px;
}

.four
{
    padding: 20px;
    text-align: center;
}

.five
{
    padding: 20px;
    text-align: center;
}

.six
{
    padding: 20px;
    text-align: center;
}

hr
{
    border: 0px 0px 2px 0px;
    border-color: #a7166a;
}