html
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#header img
{
    width:100%;
    text-align: center;
}

#gettingStarted
{
    padding: 65px 10px;
    text-align: center;
}

#gettingStarted h2
{
    color: #a7166a;
}

#gettingStarted p
{
/*    color: #606161;*/
    font-size: 14pt;
}

#formBg
{
    background-image: url(../images/SIGN-UP-FORM.png);
    padding: 20px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#signupForm
{
    text-align: center;
    padding: 50px 0px;
}

#signupForm h2
{
    color: #fff;
}

#radioForm
{
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.terms
{
    color: #fff;
}

#btnSignup
{
   margin-top: 30px; 
   background-color: #fff;
   color: #a7166a;
   border-radius: 4px;
   border: 1px solid transparent;
   line-height: 1.42857;
   text-align: center;
   vertical-align:middle;
   white-space: nowrap;
}

#btnSignup:focus, 
#btnSignup:hover
{
    background-color: #a7166a;
    color: #fff;
}

.value
{ 
    padding: 10px;
}

#part1 
{
    text-align: center;
    padding: 40px 20px;
}

#part1 p
{
/*    color: #606161;*/
    font-size: 14pt;
}

#part2
{
    padding: 20px 40px;
    text-align: center;
}

#part2 p
{
/*    color: #606161;*/
    font-size: 14pt;
}

#footer img
{
    text-align: center;
    background-size: cover;
}